<script type="text/x-template" id="post-edit">
   <div>
      <h3> {{ post.id }} </h3>
      <div v-if="edit">
        <p>
          <input type="text" name="title" v-validate="'required'" v-model="post.title" placeholder="Enter title"  :class = "{ danger: errors.has('title') }"><br/><br/>
        </p>
      </div>
      <div v-else>
         <h3> {{ post.title }}</h3>
      </div>
      <div v-if="edit">
        <p>
          <textarea v-model="post.content" name="content" placeholder="Enter ur content" v-validate="'required'" :class = "{ danger: errors.has('content') }"></textarea>
        </p>
      </div>
      <div v-else>
        <p>{{ post.content }}</p>
      </div>
      <div v-if="edit">
        <p>
        <span class="danger" v-show="errors.has('radio')"> Please choose category </span>
        <br/>
        <input type="radio" id="one" value="vue" v-validate="'required'" name="radio" v-model="post.genre">
        <label for="one">Vue</label>
        <br>
        <input type="radio" id="two" value="rails" v-validate="'required'" name="radio" v-model="post.genre">
        <label for="two">Rails</label>
        <br><br/>
        <span> {{post.genre}} </span>
      </p>
      </div>
      <div v-else>
        <h3> {{ post.genre }} </h3>
      </div>
      <div v-if="edit">
         <p>
          <span class="danger" v-show="errors.has('image')"> {{ errors.first('image') }} </span>
          <br/>
          <input type="file" ref="file" name="image" v-validate= "'image'" @change="onFileChanged"><br/><br/>
           <img :src= "post.image.url" :key="post.image.url"/>
        </p>
      </div>
      <div v-else>
        <img :src= "post.image.url" :key="post.image.url" />
      </div>
      <ul style="list-style: none">
        <li>
          <button v-if="edit" @click="editPost">Update</button>
          <button v-else @click="edit = true">Edit</button>
           <button v-if="!edit" :data-index="index" @click="deletePost(post)" style="color:red">Delete</button>
        </li>
      </ul>
      <hr/>
    </div>
  </image>
  </div>
</script>



<div id="app">

  <div id= "msg">
    <h4> {{message}} </h4>
  </div>

  <post-edit  is="post-edit"
        v-for= "(post, index) in posts"
       :post="post"
       :key = "post.id"
       :index = "index">
  </post-edit>

  <div id="new-form">
     <h4>NewPost</h4>
     <p>
        <input type="text" name="title" v-validate="'required'" v-model="post.title" placeholder="Enter title"  :class = "{ danger: errors.has('title') }"><br/><br/>
     </p>
     <p>
        <textarea v-model="post.content" name="content" placeholder="Enter ur content" v-validate="'required'" :class = "{ danger: errors.has('content') }"></textarea>
     </p>
      <p>
        <span class="danger" v-show="errors.has('radio')"> Please choose category </span>
        <br/>
        <input type="radio" id="one" value="vue" v-validate="'required'" name="radio" v-model="post.genre">
        <label for="one">Vue</label>
        <br>
        <input type="radio" id="two" value="rails" v-validate="'required'" name="radio" v-model="post.genre">
        <label for="two">Rails</label>
        <br><br/>
        <span> {{post.genre}} </span>
      </p>
      <p>
        <span class="danger" v-show="errors.has('image')"> {{ errors.first('image') }} </span>
        <br/>
        <input type="file" ref="file" name="image" v-validate= "'image'" @change="onFileChanged"><br/><br/>
        <div v-if="post.image">
          <image :src="post.image">
          <button @click="removeImage">Remove image</button>
        </div>
      </p>
      <button @click="newPost">AddPost</button>
  </div>
  </div>
</div>
