// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h4{
  color:red;
}
.danger{
 border-color:red;
 color:red
}

#app{
  img{
    width:20%;
  }
}